{%  extends 'organizations/main.html' %}

{% block content %}
<br>
<span>Hello, {{ request.user }}</span>
<hr>

<h3> Click to add users to your organization:</h3>
{% if users %}
    <ul>
    {% for u in users %}
        <li><a href="/adduser/{{u.id}}">{{u}}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No users available.</p>
{% endif %}


<h3> Click to remove users to your organization:</h3>
{% if myusers %}
    <ul>
    {% for u in myusers %}
        <li><a href="/removeuser/{{u.id}}">{{u}}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No users available.</p>
{% endif %}


{% endblock content %}